<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="search-form-container" th:fragment="search-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!--/*@thymesVar id="searchModel" type="space.hideaway.model.SearchModel"*/-->
                <form th:object="${searchModel}" th:action="@{/search?_basic}" method="post">
                    <div class="form-group">
                        <label for="keyboard-input">Keyword</label>
                        <input type="text" class="form-control" th:field="*{searchString}" id="keyboard-input"
                               placeholder="Enter a keyword">
                        <p class="help-block">You can search for identifiers in a site's name, or description.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>