<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>CoCoTemp Home</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/search.css}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
</head>
<body>
<div class="row">
    <div th:replace="sidebar/sidebar-partial :: sidebar (active = 'home')"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div th:replace="search/search-form :: search-form"></div>
            </div>

            <div class="row">
                <div class="seperator-header">
                    <h1>Search Results</h1>
                </div>
            </div>

            <div class="row search-results-container">
                <div th:unless="${noSites}" class="col-lg-12">
                    <table class="table table-hover">
                        <tr>
                            <th>Location</th>
                            <th>Site Name</th>
                            <th>Site Description</th>
                            <th>Max</th>
                            <th>Min</th>
                            <th>Mean</th>
                            <th>Standard Deviation</th>
                            <th>User</th>
                        </tr>

                        <!--/*@thymesVar id="site" type="space.hideaway.model.site.Site"*/-->
                        <tr th:each="site : ${siteList}">
                            <!--/*@thymesVar id="statisticsUtils" type="space.hideaway.util.StatisticsUtils"*/-->
                            <td th:inline="text">
                                [[${site.getSiteLatitude().toString()}]], [[${site.getSiteLongitude().toString()}]]
                            </td>
                            <td>
                                <a th:href="@{/site/{siteID}(siteID=${site.getId()})}"
                                   th:text="*{site.getSiteName()}">University Station
                                </a>
                            </td>
                            <td th:text="*{site.getSiteDescription()}">
                                Under the sea. Down here all the fish is happy, as off through the waves they roll.
                                The fish on the land ain't happy; they sad 'cause they in their bowl,
                                but fish in the bowl is lucky. They in for a worser fate.
                                One day when the boss get hungry, guess who's gon' be on the plate?
                            </td>
                            <td th:text="*{statisticsUtils.getMostRecentAllMax(site)}">99</td>
                            <td th:text="*{statisticsUtils.getMostRecentAllMin(site)}">29</td>
                            <td th:text="*{statisticsUtils.getMostRecentAllMean(site)}">50</td>
                            <td th:text="*{statisticsUtils.getMostRecentAllDeviation(site)}">2</td>
                            <td th:text="*{site.getUser().getUsername()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0JrsM8oIQfu77Z80npC_dFAA9eSrUd9s&amp;libraries=places"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script th:src="@{/js/search.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>