<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="search-form-container" th:fragment="search-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form id="search-form">
                    <div class="form-group">
                        <label for="search-query">Keyword</label>
                        <input type="text" class="form-control" id="search-query"
                               placeholder="eg. Houghton Station">
                        <p class="help-block">You can search for identifiers in a site's name, description, or by
                            username.</p>
                    </div>
                    <div class="form-group">
                        <label for="location-query">Location Search</label>
                        <input type="text" class="form-control" id="location-query"
                               placeholder=""/>
                        <p class="help-block">Enter latitude and longitude in decimal degrees below, or
                            start typing an
                            address and we'll convert it for you.</p>
                    </div>

                    <div class="form-group location-group">
                        <div class="row location-container">
                            <div id="latitude-container" class="col-lg-4">
                                <label for="location-query">Latitude</label>
                                <input type="text" class="form-control" id="latitude-query"
                                       placeholder=""/>
                            </div>
                            <div id="longitude-container" class="col-lg-4">
                                <label for="location-query">Longitude</label>
                                <input type="text" class="form-control" id="longitude-query"
                                       placeholder=""/>
                            </div>
                            <div id="range-container" class="col-lg-4 ">
                                <label for="range-selector">Range</label>
                                <select class="form-control" id="range-selector">
                                    <option>50km</option>
                                    <option>100km</option>
                                    <option>500km</option>
                                    <option>1000km</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>