target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Node & Friends ###
*.map
*.sassc
*.log
node_modules/
*.properties
### application password and config files that should not be committed

-# Ignore built CSS sourcemaps
-src/main/resources/static/css/*.css.map
