<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>News Post</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{/sass/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/sass/forms.css}" />
</head>
<body>

    <div class="container-fluid">
        <div class="col-lg-5 col-lg-offset-4">

            <div class="form-container">

                <div class="form-header">
                    <h1>News Post</h1>
                </div>

                <!-- Form Area -->
                <div class="form-body">
                    <!--/*@thymesVar id="post" type="space.hideaway.model.News"*/-->
                    <form th:action="@{/news_post}" method="post" th:object="${post}">

                        <div class="form-group">
                            <div class="col-sm">
                                <input type="text" name="title" id="title" required="required" class="form-control"
                                       placeholder="Title" th:field="*{title}"/>
                            </div>
                        </div>
                        <p><b>Note:</b> Use HTML tags for formatting</p>
                        <div class="form-group">
                            <div class="col-sm">
                            <textarea name="content" id="content" class="form-control" required="required"
                                      placeholder="Message" th:field="*{content}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm">
                                <!-- Send Button -->
                                <button type="submit" id="submit" name="submit" class="btn btn-success">
                                    Post
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- End Contact Form Area -->
            </div>

        </div>
    </div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>