<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{sass/forms.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="col-lg-2 col-lg-offset-5">

        <div class="form-container">
            <div class="form-header">
                <h1>Tell us about yourself!</h1>
            </div>
            <hr/>
            <div class="form-body">
                <form action="/register?_finish" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="firstName"
                               placeholder="eg. John" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="middleInitial">Middle Initial</label>
                        <input th:field="*{middleInitial}" maxlength="1" type="text" class="form-control"
                               id="middleInitial" placeholder="eg. P" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="lastName"
                               placeholder="eg. Doe" required="required"/>
                    </div>
                    <div class="form-group">

                        <button class="btn btn-success" type="submit">Finish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>