<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="col-lg-2 col-lg-offset-5">
        <div class="form-container">
            <div class="form-header">
                <h1>Registration</h1>
            </div>

            <hr/>

            <div class="form-body">
                <!--/*@thymesVar id="user" type="space.hideaway.model.User"*/-->
                <form th:action="@{/register?_question}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="emailField">Email</label>
                        <input th:field="*{email}" type="email" name="emailField" class="form-control" id="emailField"
                               placeholder="Enter an email address." required="required"/>
                        <ul>
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="usernameField">Username</label>
                        <input th:field="*{username}" type="text" name="usernameField" class="form-control"
                               id="usernameField" placeholder="Enter a username." required="required"/>
                        <ul>
                            <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="passwordField">Password</label>
                        <input th:field="*{password}" type="password" name="passwordField" class="form-control"
                               id="passwordField" placeholder="Enter your password." required="required"/>
                        <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                    </div>
                    <div class="form-group">
                        <label for="confirmField">Confirm Password</label>
                        <input th:field="*{confirmationPassword}" type="password" name="confirmField"
                               class="form-control" id="confirmField"
                               placeholder="Enter your password again." required="required"/>
                        <p th:each="err : ${#fields.errors('confirmationPassword')}" th:text="${err}"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>