#contact
  padding: 10px 0 10px

.inner
  margin-top: 45px

.contact-text
  //margin: 55px auto
  padding-left: 20px
  text-align: center

h3, h3
  font-family: "Segoe UI", serif
  color: #00537d

  p
    font-family: "Segoe UI Light", serif
    font-size: 160%
    color: #449144