body
  background: #f7f7f7
  overflow-y: auto

body, .container-fluid, .row, .side-body
  height: 100%

.side-body
  margin-top: 10px

.infocard-container
  .infocard
    color: #848484
    padding: 0 10px 10px 0
    .inner
      padding: 10px
      height: 125px
      background-color: #efefef
      border-radius: 3px
      .infocard-header
        text-transform: uppercase
        font-family: "Segoe UI", serif
        font-size: 1em
      .infocard-body
        font-family: "Segoe UI Light", serif
        font-size: 2em
      .infocard-number
        font-family: "Segoe UI Light", serif
        font-size: 2em

.chart-header
  padding: 10px
  height: 50px
  background-color: #00416A
  .chart-header-text
    text-transform: uppercase
    font-family: "Segoe UI", serif
    font-weight: 500
    color: white

.chart-body
  div
    height: 100%
  .col-lg-12
    padding: 0
    margin: 0
  #timerange-list-container
    height: 50px
    text-align: center
    #timerange-list
      list-style: none
      li
        display: inline
        padding: 0 20px 0 20px
        a
          color: #848484 !important
          font-family: "Segoe UI", serif
          text-transform: uppercase

  padding: 10px
  height: 400px
  background-color: white

#map
  height: 100%