.site-header
  height: 50px
  padding: 10px
  width: 100%
  background-color: #00416a
  align-items: center
  justify-content: flex-start
  h1
    margin: 0
    color: white
    font-size: 1.5em
    font-weight: 500
    font-family: "Segoe UI", serif

.searchbar
  label
    color: white

.searchbar-container
  background-color: #00395e
  padding: 20px
  margin: 0

  #search-query
    border-top-left-radius: 25px
    border-bottom-left-radius: 25px

  #submit-button
    border-top-right-radius: 25px
    border-bottom-right-radius: 25px
    padding-right: 15px

  .searchbar
    height: 37px

.news-list
  margin: 0
  padding: 0
  list-style: none
  .news-item
    width: 100%
    border-bottom: 2px solid rgba(144, 144, 144, 0.51)
    padding: 20px

.map-container
  height: 500px
  > #map
    height: 100%