.solid-bar
  height: 50px
  display: flex
  justify-content: flex-start
  align-items: center
  background-color: #00416A
  h1
    margin: 0
    color: white
    font-size: 1em
    font-weight: 500
    text-transform: uppercase
    font-family: "Segoe UI", serif

/* For small screens just hide sidebar on collapse */
.collapsed
  display: none

@media (min-width: 992px)
  .collapsed
    display: block
    margin-right: -25%

#row-main
  overflow-x: hidden

#content
  -webkit-transition: width 0.3s ease
  -moz-transition: width 0.3s ease
  -o-transition: width 0.3s ease
  transition: width 0.3s ease
#sidebar
  -webkit-transition: margin 0.3s ease
  -moz-transition: margin 0.3s ease
  -o-transition: margin 0.3s ease
  transition: margin 0.3s ease

.search-form-container
  margin-bottom: 10px

.container
  width: auto

.location-container
  .col-sm-4
    padding-right: 5px
    padding-left: 0px

.map-container
  height: 400px
  position: relative
  > #map
    height: 100%

#basemaps-wrapper
  position: absolute
  top: 10px
  right: 10px
  z-index: 400
  background: white
  padding: 10px
