.solid-bar
  height: 50px
  display: flex
  justify-content: flex-start
  align-items: center
  background-color: #0080bf
  h1
    margin: 0
    color: white
    font-size: 1em
    font-weight: 500
    text-transform: uppercase
    font-family: "Segoe UI", serif



.chart-container
  padding: 20px
  height: 400px

.map-container
  padding: 0
  height: 400px
  #map
    height: 100%