<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=site-width, initial-scale=1.0"/>
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body>

<div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="form-container">

            <div class="form-header">
                <h1>Reset Password</h1>
            </div>

            <div class="form-body">
                <!-- This comment is necessary not actually a normal comment it has functionality-->
                <!--/*@thymesVar id="user" type="space.hideaway.model.User"*/-->
                <form method="post" th:object="${user}">

                    <div class="form-group">
                        <p>Please enter your email!</p>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input th:field="*{email}" type="email" name="email" class="form-control" id="email"
                               placeholder="Enter an email address." required="required"/>
                    </div>
                    <ul>
                        <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                    </ul>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Send Reset Email</button>
                    </div>

                    <div class="form-group">
                        <p>Want to head back to the home page? <a th:href="@{/}">Click here!</a></p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- This javascript is going to be heavily modified to actually work -->
<script src="jquery.min.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
