<!DOCTYPE html>
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta name="viewport" content="width=site-width, initial-scale=1.0"/>
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body>
<!--<div sec:authorize="hasAuthority('Change_Password_Privilege)">-->
    <div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="form-container">

            <div class="form-header">
                <h1>Reset Password</h1>
            </div>

            <div class="form-body">
                <!-- This comment is necessary, not actually a normal comment it has functionality-->
                <!--/*@thymesVar id="user" type="space.hideaway.model.User"*/-->
                <form method="post" th:object="${user}" onsubmit="return checkPassword()">

                    <div class="form-group">
                        <label for="passwordField">New Password</label>
                        <input th:field="*{password}" type="password"  autocomplete="new-password" name="passwordField" class="form-control" id="passwordField"
                               placeholder="Enter your new password" required="required"/>
                        <ul>
                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="confirmField">Confirm Password</label>
                        <input th:field="*{confirmationPassword}" type="password" autocomplete="new-password" name="confirmField"
                               class="form-control" id="confirmField"
                               placeholder="Enter your password again." required="required"/>
                        <ul>
                            <li th:each="err : ${#fields.errors('confirmationPassword')}" th:text="${err}"></li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Reset Password</button>
                    </div>

                    <div class="form-group">
                        <p>Want to head back to the home page? <a th:href="@{/}">Click here!</a></p>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
<!--</div>-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- This javascript is going to be heavily modified to actually work -->
<script src="jquery.min.js"></script>

<script>
    function checkPassword() {
        const conPass = document.getElementById("confirmField").value;
        const pass = document.getElementById("passwordField").value;
        if(conPass === pass){
            return true;
        } else {
          alert("Password's don't match!");
          return false;
        }
    }
</script>
</body>
</html>
