<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>GLOBE</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="col-lg-5 col-lg-offset-4">

        <div class="form-container">
            <div class="form-header">
                <h1>Globe Site Survey</h1>
                <p>This section is optional, but provides valuable information about your site if completed.</p>
                <!--/*@thymesVar id="site" type="space.hideaway.model.site.Site"*/-->
                <form th:action="@{/settings/new?_finish}" method="post" th:object="${site}">
                    <div class="form-group">
                        <button class="btn btn-success">Skip and Save</button>
                    </div>
                </form>
            </div>

            <hr/>

            <div class="form-body">
                <form th:action="@{/settings/new?_finish_globe}" method="post">

                    <div class="form-group">
                        <label for="q5">5. Is the sensor located in a depression or riparian area where water can collect?</label> <br/>
                        <form action="" id="q5" name="answers">
                            <input type="radio" name="sensor" value="Yes" /> Yes <br/>
                            <input type="radio" name="sensor" value="No" /> No <br/>
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q6">6. On the longest day of the year (late June in N. Hemisphere), during what hours is the
                            sensor shaded?</label>
                        <form action="" id="q6" name="answers">
                            <input type ="checkbox" name="hours" value="12:00 midnight" /> 12:00 midnight <br/>
                            <input type ="checkbox" name="hours" value="1:00 am" /> 1:00 am <br/>
                            <input type ="checkbox" name="hours" value="2:00 am" /> 2:00 am <br/>
                            <input type ="checkbox" name="hours" value="3:00 am" /> 3:00 am <br/>
                            <input type ="checkbox" name="hours" value="4:00 am" /> 4:00 am <br/>
                            <input type ="checkbox" name="hours" value="5:00 am" /> 5:00 am <br/>
                            <input type ="checkbox" name="hours" value="6:00 am" /> 6:00 am <br/>
                            <input type ="checkbox" name="hours" value="7:00 am" /> 7:00 am <br/>
                            <input type ="checkbox" name="hours" value="8:00 am" /> 8:00 am <br/>
                            <input type ="checkbox" name="hours" value="9:00 am" /> 9:00 am <br/>
                            <input type ="checkbox" name="hours" value="10:00 am" /> 10:00 am <br/>
                            <input type ="checkbox" name="hours" value="11:00 am" /> 11:00 am <br/>
                            <input type ="checkbox" name="hours" value="12:00 pm" /> 12:00 pm <br/>
                            <input type ="checkbox" name="hours" value="1:00 pm" /> 1:00 pm <br/>
                            <input type ="checkbox" name="hours" value="2:00 pm" /> 2:00 pm <br/>
                            <input type ="checkbox" name="hours" value="3:00 pm" /> 3:00 pm <br/>
                            <input type ="checkbox" name="hours" value="4:00 pm" /> 4:00 pm <br/>
                            <input type ="checkbox" name="hours" value="5:00 pm" /> 5:00 pm <br/>
                            <input type ="checkbox" name="hours" value="6:00 pm" /> 6:00 pm <br/>
                            <input type ="checkbox" name="hours" value="7:00 pm" /> 7:00 pm <br/>
                            <input type ="checkbox" name="hours" value="8:00 pm" /> 8:00 pm <br/>
                            <input type ="checkbox" name="hours" value="9:00 pm" /> 9:00 pm <br/>
                            <input type ="checkbox" name="hours" value="10:00 pm" /> 10:00 pm <br/>
                            <input type ="checkbox" name="hours" value="11:00 pm" /> 11:00 pm <br/>
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q7">7. On the shortest day of the year (late December in N. Hemisphere), during what hours is
                            the sensor shaded?</label>
                        <form action="" id="q7" name="answers">
                            <input type ="checkbox" name="hours" value="12:00 midnight" /> 12:00 midnight <br/>
                            <input type ="checkbox" name="hours" value="1:00 am" /> 1:00 am <br/>
                            <input type ="checkbox" name="hours" value="2:00 am" /> 2:00 am <br/>
                            <input type ="checkbox" name="hours" value="3:00 am" /> 3:00 am <br/>
                            <input type ="checkbox" name="hours" value="4:00 am" /> 4:00 am <br/>
                            <input type ="checkbox" name="hours" value="5:00 am" /> 5:00 am <br/>
                            <input type ="checkbox" name="hours" value="6:00 am" /> 6:00 am <br/>
                            <input type ="checkbox" name="hours" value="7:00 am" /> 7:00 am <br/>
                            <input type ="checkbox" name="hours" value="8:00 am" /> 8:00 am <br/>
                            <input type ="checkbox" name="hours" value="9:00 am" /> 9:00 am <br/>
                            <input type ="checkbox" name="hours" value="10:00 am" /> 10:00 am <br/>
                            <input type ="checkbox" name="hours" value="11:00 am" /> 11:00 am <br/>
                            <input type ="checkbox" name="hours" value="12:00 pm" /> 12:00 pm <br/>
                            <input type ="checkbox" name="hours" value="1:00 pm" /> 1:00 pm <br/>
                            <input type ="checkbox" name="hours" value="2:00 pm" /> 2:00 pm <br/>
                            <input type ="checkbox" name="hours" value="3:00 pm" /> 3:00 pm <br/>
                            <input type ="checkbox" name="hours" value="4:00 pm" /> 4:00 pm <br/>
                            <input type ="checkbox" name="hours" value="5:00 pm" /> 5:00 pm <br/>
                            <input type ="checkbox" name="hours" value="6:00 pm" /> 6:00 pm <br/>
                            <input type ="checkbox" name="hours" value="7:00 pm" /> 7:00 pm <br/>
                            <input type ="checkbox" name="hours" value="8:00 pm" /> 8:00 pm <br/>
                            <input type ="checkbox" name="hours" value="9:00 pm" /> 9:00 pm <br/>
                            <input type ="checkbox" name="hours" value="10:00 pm" /> 10:00 pm <br/>
                            <input type ="checkbox" name="hours" value="11:00 pm" /> 11:00 pm <br/>
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q8">8. Canopy type above the sensor (near enough to be captured in an upward photo)</label>
                        <form action="" id="q8" name="answers">
                            <input type="radio" name="canopy" value="No canopy" /> No canopy <br/>
                            <input type="radio" name="canopy" value="Tree/vegetation" /> Tree/vegetation <br/>
                            <input type="radio" name="canopy" value="Shade sail" /> Shade sail <br/>
                            <input type="radio" name="canopy" value="Metal roof" /> Metal roof <br/>
                            <input type="radio" name="canopy" value="Pergola/Ramada" /> Pergola/Ramada <br/>
                            <input type="radio" name="canopy" value="Other solid roof" /> Other solid roof <br/>
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q9">9. If you stand in the location of the sensor and look straight up, roughly what percentage
                            of the sky is visible (i.e. the Sky View Factor, for example 75%):</label>
                        <form action="" id="q9" name="answers">
                            <input tpye="number" name="percent" min="0" max="100" />
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q10">10. What is the slope on this site, measured as the ratio of rise over run (for example one
                            meter of rise in fifteen meters of run is 1/15 or 6.7%.</label>
                        <form action="" id="q10" name="answers">
                            <input tpye="number" name="percent" min="0" max="100" />
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q11">11. What is the compass direction of the slope, uphill? (degrees east of
                            north, 0 = north, 90 = east, 180 = south, 270 = west)</label>
                        <form action="" id="q11" name="answers">
                            <input tpye="number" name="degrees" min="0" max="360" />
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q13">13. What is the nearest body of open water?</label>
                        <form action="" id="q13" name="answers">
                            <input type="radio" name="water" value="Swimming pool" /> Swimming pool <br/>
                            <input type="radio" name="water" value="Lake/pond" /> Lake/pond <br/>
                            <input type="radio" name="water" value="Large river" /> Large river <br/>
                            <input type="radio" name="water" value="Small stream" /> Small stream <br/>
                            <input type="radio" name="water" value="Other" /> Other (describe) <br/>
                            <input type="text"  name="water" value="" />
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q14">14. How far away is this water from the sensor? (meters)</label>
                        <form action="" id="q14" name="answers">
                            <input tpye="number" name="distance" min="0" max="160935" />
                        </form>
                    </div>

                    <div class="form-group">
                        <label for="q15">15. What is the compass direction of the water from this sensor? (degrees
                            east of north, 0 = north, 90 = east, 180 = south, 270 = west)</label>
                        <form action="" id="q15" name="answers">
                            <input tpye="number" name="degrees" min="0" max="360" />
                        </form>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>