<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>New Site</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>

</head>
<body>
<div class="container-fluid">
    <div class="col-lg-5 col-lg-offset-4">

        <div class="form-container">
            <div class="form-header">
                <h1>Create a new site</h1>
            </div>

            <hr/>

            <div class="form-body">
                <!--/*@thymesVar id="site" type="space.hideaway.model.site.Site"*/-->
                <form th:action="@{/settings/new?_questions}" method="post" th:object="${site}">

                    <div class="form-group">
                        <label for="siteName">Site Name</label>
                        <input type="text" class="form-control" id="siteName"
                               placeholder="" required="required" th:field="*{siteName}"/>
                    </div>
                    <div>
                        <hr/>
                        <label>Please use the map below to select or search a location: </label>
                    </div>
                    <div class="form-group">
                        <div class="map-container">
                            <div id="map"></div>
                            <div id="search">
                                <input type="text" name="search" id="address" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="siteLatitude">Latitude and Longitude</label>
                        <input class="form-control"
                               id="siteLatitude" placeholder="Enter the latitude" type="number" step="any"
                               required="required" th:field="*{siteLatitude}" readonly="readonly" />
                        <input class="form-control"
                               id="siteLongitude" placeholder="Enter the longitude" type="number" step="any"
                               required="required" th:field="*{siteLongitude}" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
        integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
        crossorigin=""></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS9L2mnxDj3_mnkl8nnU_-Gd3kMBmRyYM&amp;libraries=places"></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/new-site-form.js}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>