$primary-color: #79D0B3
$secondary-color: #00416A
//Like my personality
$header-font: 'Bitter', sans-serif
$paragraph-font: 'Roboto', sans-serif
$navbar-width: 240px
$cool-version-of-white-color: white
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"

body
  background: #e3e3e3

.bottom
  margin: 0 auto
  z-index: 666
  position: absolute
  background-color: $cool-version-of-white-color
  bottom: 0
  left: 240px
  overflow: auto
  text-overflow: ellipsis
  padding: 10px
  @media #{$tablet}
    left: 0
    padding-left: 50px
    padding-top: 5px
    width: 100vw
    height: auto

.welcomeLine
  text-align: center
  padding-bottom: 10px
  margin-top: 20px
  color: white
  @media #{$tablet}
    margin-top: 25px
    float: left

.navbar-brand
  @media #{$tablet}
    width: auto

#temperature-chart
  margin-top: 30px

.data-container
  background: white
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

