:focus {
  outline: none; }

.container-fluid {
  padding: 0;
  margin: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

/* Main body section */
.side-body {
  margin-left: 300px; }

/* small screen */
@media (max-width: 768px) {
  /* Slide in animation */
  @-webkit-keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @keyframes slidein {
    0% {
      left: -300px; }
    100% {
      left: 10px; } }
  @-webkit-keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  @keyframes slideout {
    0% {
      left: 0; }
    100% {
      left: -300px; } }
  .side-menu-container > .navbar-nav {
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #00416a;
    background-color: #00416a;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .side-menu-container > .navbar-nav.slide-in {
      -webkit-animation: slidein 300ms forwards;
      animation: slidein 300ms forwards;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d; }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @keyframes bodyslidein {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @keyframes bodyslideout {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  /* Slide side body */
  .side-body {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  .body-slide-in {
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; } }

h2 {
  margin: 0px;
  padding-top: 10px; }

.infocard-container .infocard {
  color: white;
  padding: 0; }
  .infocard-container .infocard .inner {
    padding: 20px; }
    .infocard-container .infocard .inner .infocard-header {
      text-transform: uppercase;
      font-family: 'Open Sans Light', sans-serif;
      font-size: 1em; }
    .infocard-container .infocard .inner .infocard-body {
      font-family: 'Open Sans Light', sans-serif;
      font-size: 1em; }
    .infocard-container .infocard .inner .infocard-number {
      font-family: "Open San Light", serif;
      font-size: 2em; }

.infocard-container .primary {
  background-color: #00629a; }

.infocard-container .secondary {
  background-color: #0080bf; }

.infocard-container .tertiary {
  background-color: #009dee; }

.infocard-container .quaternary {
  background-color: #05ccff; }

.seperator-header {
  height: 50px;
  padding: 10px;
  width: 100%;
  background-color: #00416a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .seperator-header h1 {
    margin: 0;
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif; }

.sub-seperator-header {
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .sub-seperator-header p {
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif; }

/*# sourceMappingURL=global.css.map */

/*# sourceMappingURL=global.css.map */
