h1 {
    font-family: "Bitter", sans-serif;
}

h2 {
    font-family: "Bitter", sans-serif;
}

h3 {
    font-family: "Bitter", sans-serif;
}

h4 {
    font-family: "Bitter", sans-serif;
}

h5 {
    font-family: "Bitter", sans-serif;
}

h6 {
    font-family: "Bitter", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em; }

.navbar {
  background-color: #00416A;
  z-index: 666; }

.navbar-fixed-left {
  width: 240px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  left: 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-fixed-left {
      height: 110px;
      width: 100%; } }

.navbar-nav {
  margin: 7.5px -15px !important; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .navbar-nav > ul {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding-left: 150px;
      margin-top: -25px;
      background-color: #00416A; } }
  .navbar-nav > li {
    float: none;
    width: 139px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navbar-nav > li {
        text-align: center;
        float: left;
        width: auto;
        margin-left: 25px; } }
  .navbar-nav > li a {
    color: #fafafa !important; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navbar-nav > li a {
        background-color: transparent;
        border: none;
        margin-bottom: 20px; }
        .navbar-nav > li a:hover {
          text-decoration: underline; } }
  .navbar-nav + .container {
    padding-left: 160px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .navbar-nav + .container {
        padding: 0; } }

.navbar-brand {
  display: block;
  width: 100%;
    font: 32px "Bitter", sans-serif;
  text-align: center;
  color: #79D0B3 !important;
  margin-bottom: 25px; }
  .navbar-brand:hover a {
    color: #fafafa; }

.divhr {
  margin-top: 75px;
  display: block;
  height: 1px;
  width: 100%;
  border-top: none;
  border-bottom: 2px solid #003e65; }

.menuButton {
    text-align: left;
    line-height: 11px !important;
  width: 239px;
  color: white;
  background-color: #003b60;
    border: 0;
}
  .menuButton:hover {
    background-color: #79D0B3; }

.menuButton:active {
    border-left: 3px #79D0B3 solid;
}
  @media (min-width: 768px) and (max-width: 1023px) {
    .menuButton {
      width: auto;
      float: left;
      margin-top: -12px; } }

#login-button {
    line-height: 11px;
    width: 239px;
    margin-bottom: 10px;
}

#login-modal .modal-dialog {
  width: 350px; }
#login-modal input[type=text] {
  margin-top: 10px; }

input[type=password] {
  margin-top: 10px; }

#div-login-msg, #div-lost-msg, #div-register-msg {
  border: 1px solid #dadfe1;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms; }

#div-login-msg.success, #div-lost-msg.success, #div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5; }

#div-login-msg.error, #div-lost-msg.error, #div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1; }

#icon-login-msg, #icon-lost-msg, #icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #dadfe1;
  margin-right: 5px;
  transition: all ease-in-out 500ms; }

#icon-login-msg.success, #icon-lost-msg.success, #icon-register-msg.success {
  background-color: #68c3a3 !important; }

#icon-login-msg.error, #icon-lost-msg.error, #icon-register-msg.error {
  background-color: #eb575b !important; }

#img_logo {
  max-height: 100px;
  max-width: 100px; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.8; }

.modal-body input {
  border-radius: 10px; }

.modal-content {
  background-color: #ececec;
  border: 1px solid #bdc3c7;
  border-radius: 0;
  outline: 0; }

.modal-header {
  min-height: 16.43px;
  padding: 15px 15px 15px 15px;
  border-bottom: 0px; }

.modal-body {
  position: relative;
  padding: 5px 15px 5px 15px; }

.modal-footer {
  padding: 15px 15px 15px 15px;
  text-align: left;
  border-top: 0; }

.checkbox {
  margin-bottom: 0; }

.btn {
  border-radius: 0;
  color: white; }
  .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none; }

.standard {
  border-radius: 25px;
  color: white;
  background-color: #79D0B3;
  border-color: #42bb92; }
  .standard:hover {
    background-color: #3ba884; }

.modal .btn-lg, .btn-group-lg > .btn {
  background-color: #79D0B3;
  border-radius: 25px;
  border-color: #349575; }
  .modal .btn-lg:hover, .btn-group-lg > .btn:hover {
    background-color: #3ba884; }

.btn-link {
  padding: 5px 10px 0 0;
  color: #95a5a6; }
  .btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none; }

.glyphicon {
  top: 0; }

.form-control {
  border-radius: 0; }

#icon-login-msg, #icon-lost-msg, #icon-register-msg {
  border-radius: 25px; }

#div-login-msg, #div-register-msg, #div-lost-msg {
  background-color: white;
  opacity: 0.7;
  margin-bottom: 25px;
  border-radius: 15px; }

.modal-content {
  padding: 15px; }

.center {
  display: block;
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=global.css.map */
