$primary-color: #79D0B3
$secondary-color: #00416A
//Like my personality
$header-font: 'Bitter', sans-serif
$paragraph-font: 'Roboto', sans-serif
$navbar-width: 240px
$cool-version-of-white-color: white
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"
$mobile: "(min-device-width : 320px) and (max-device-width : 480px)"

@for $index from 1 through 6
  h#{$index}
    font-family: $header-font

p
  font-family: $paragraph-font
  font-size: 1em

.navbar
  background-color: $secondary-color
  //Praise
  z-index: 666

.navbar-fixed-left
  width: $navbar-width
  position: fixed
  border-radius: 0
  height: 100%
  @media #{$tablet}
    height: 100px
    width: 100%

.navbar-nav
  > ul
    @media #{$tablet}
      width: 100%
      text-align: center
      margin: 0 auto
      padding-left: 150px
  > li
    float: none
    width: 139px
    @media #{$tablet}
      text-align: center
      float: left
  > li a
    color: $cool-version-of-white-color
  + .container
    padding-left: 160px
    @media #{$tablet}
      padding: 0

.navbar-brand
  display: block
  width: 100%
  font: 32px $header-font
  text-align: center
  color: $primary-color !important
  &:hover a
    color: $cool-version-of-white-color

.divhr
  margin-top: 75px
  display: block
  height: 1px
  width: 100%
  border-top: none
  border-bottom: 2px solid darken($secondary-color, 1%)

.loginButton
  width: $navbar-width - 1
  // Subtract border size
  color: white
  margin-top: 25px
  background-color: #286090
  &:hover
    background-color: $primary-color
  @media #{$tablet}
    width: auto
    margin-top: 0
    margin-bottom: 0




//Begin Modal Styles
#login-modal
  .modal-dialog
    width: 350px
  input[type=text]
    margin-top: 10px

input[type=password]
  margin-top: 10px

#div-login-msg, #div-lost-msg, #div-register-msg
  border: 1px solid #dadfe1
  height: 30px
  line-height: 28px
  transition: all ease-in-out 500ms

#div-login-msg.success, #div-lost-msg.success, #div-register-msg.success
  border: 1px solid #68c3a3
  background-color: #c8f7c5

#div-login-msg.error, #div-lost-msg.error, #div-register-msg.error
  border: 1px solid #eb575b
  background-color: #ffcad1

#icon-login-msg, #icon-lost-msg, #icon-register-msg
  width: 30px
  float: left
  line-height: 28px
  text-align: center
  background-color: #dadfe1
  margin-right: 5px
  transition: all ease-in-out 500ms

#icon-login-msg.success, #icon-lost-msg.success, #icon-register-msg.success
  background-color: #68c3a3 !important

#icon-login-msg.error, #icon-lost-msg.error, #icon-register-msg.error
  background-color: #eb575b !important

#img_logo
  max-height: 100px
  max-width: 100px

.modal-backdrop.in
  filter: alpha(opacity=50)
  opacity: .8

.modal-content
  background-color: #ececec
  border: 1px solid #bdc3c7
  border-radius: 0
  outline: 0

.modal-header
  min-height: 16.43px
  padding: 15px 15px 15px 15px
  border-bottom: 0px

.modal-body
  position: relative
  padding: 5px 15px 5px 15px

.modal-footer
  padding: 15px 15px 15px 15px
  text-align: left
  border-top: 0

.checkbox
  margin-bottom: 0

.btn
  border-radius: 0
  &:focus, &:active:focus, &.active:focus, &.focus, &:active.focus, &.active.focus
    outline: none

.modal .btn-lg, .btn-group-lg > .btn
  background-color: $primary-color
  border-radius: 0
  border-color: darken($primary-color, 25%)
  &:hover
    background-color: darken($primary-color, 20%)

.btn-link
  padding: 5px 10px 0 0
  color: #95a5a6
  &:hover, &:focus
    color: #2c3e50
    text-decoration: none

.glyphicon
  top: 0

.form-control
  border-radius: 0
//End Modal Styles
