$primary-color: #79D0B3
$secondary-color: #00416A
//Like my personality
$header-font: 'Bitter', sans-serif
$paragraph-font: 'Roboto', sans-serif
$navbar-width: 240px
$cool-version-of-white-color: white
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"

body
  overflow: hidden

.navbar
  background-color: $secondary-color
  //Praise
  z-index: 666

.navbar-fixed-left
  width: $navbar-width
  position: fixed
  border-radius: 0
  height: 100%
  @media #{$tablet}
    height: 100px
    width: 100%

.navbar-nav
  > ul
    @media #{$tablet}
      width: 100%
      text-align: center
      margin: 0 auto
      padding-left: 150px
  > li
    float: none
    width: 139px
    @media #{$tablet}
      text-align: center
      float: left
  > li a
    color: $cool-version-of-white-color
  + .container
    padding-left: 160px
    @media #{$tablet}
      padding: 0

.navbar-brand
  display: block
  width: 100%
  font: 32px $header-font
  text-align: center
  color: $primary-color !important
  &:hover a
    color: $cool-version-of-white-color

.divhr
  margin-top: 75px
  display: block
  height: 1px
  width: 100%
  border-top: none
  border-bottom: 2px solid darken($secondary-color, 1%)

.loginButton
  width: $navbar-width - 1 // Subtract border size
  color: white
  margin-top: 25px
  background-color: #286090
  &:hover
    background-color: $primary-color
  @media #{$tablet}
    width: auto
    margin-top: 0
    margin-bottom: 0

#bgmap
  height: 100vh
  width: 100vw

.bottom
  margin: 0 auto
  z-index: 666
  position: absolute
  background-color: $cool-version-of-white-color
  bottom: 0
  left: 240px
  overflow: auto
  text-overflow: ellipsis
  padding: 10px
  @media #{$tablet}
    left: 0
    padding-left: 50px
    padding-top: 5px
    width: 100vw
    height: auto
