$primary-color: #79D0B3
$secondary-color: #00416A
//Like my personality
$header-font: 'Bitter', sans-serif
$paragraph-font: 'Roboto', sans-serif
$navbar-width: 240px
$cool-version-of-white-color: white
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"

body
  overflow: hidden

#bgmap
  height: 100vh
  width: 100vw

.bottom
  margin: 0 auto
  z-index: 666
  position: absolute
  background-color: $cool-version-of-white-color
  bottom: 0
  left: 240px
  overflow: auto
  text-overflow: ellipsis
  padding: 10px
  @media #{$tablet}
    left: 0
    padding-left: 50px
    padding-top: 5px
    width: 100vw
    height: auto
