.solid-bar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00416A; }
  .solid-bar h1 {
    margin: 0;
    color: white;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Segoe UI", serif; }

/* For small screens just hide sidebar on collapse */
.collapsed {
  display: none; }

@media (min-width: 992px) {
  .collapsed {
    display: block;
    margin-right: -25%; } }

#row-main {
  overflow-x: hidden; }

.map-container {
  height: 400px;
  position: relative; }
  .map-container > #map {
    height: 100%; }

#basemaps-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 400;
  background: white;
  padding: 10px; }

/* Right side menu */
#sidebar {
  transition: margin 0.3s ease; }

#sidemenu-popup {
  position: absolute;
  right: 0px;
  z-index: 1001;
  height: 100%;
  background-color: #0A5175; }

#sidemenu-popup-bar {
  padding-top: 10px;
  width: 50px;
  height: 100%;
  color: white;
  float: left; }
  #sidemenu-popup-bar p {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: left 15px;
            transform-origin: left 15px;
    text-align: center;
    margin: -4px 18px 18px; }

.side-menu-flat {
  width: 50px; }

.side-menu-expand {
  width: 455px; }

#filter-menu {
  width: 400px;
  float: left;
  padding-right: 10px; }
  #filter-menu form {
    margin-top: 10px;
    margin-bottom: 10px; }
  #filter-menu input {
    color: black; }
    #filter-menu input[type=text] {
      width: 150px; }
    #filter-menu input[type=checkbox] {
      width: 25px; }
    #filter-menu input[type=radio] {
      width: auto; }
  #filter-menu button {
    color: black; }

.bootstrap-tagsinput {
  border: none;
  box-shadow: none;
  background-color: #0A5175; }

.bootstrap-tagsinput input {
  display: none; }

.content-flat {
  margin-right: 50px; }

.content-expand {
  margin-right: 455px; }

button[data-add="group"] {
  display: none; }

#microClimateInstructions {
  padding-top: 10px;
  padding-bottom: 10px; }

#graph-filters {
  color: white; }
  #graph-filters input {
    width: 150px; }
  #graph-filters table {
    font-size: 14px;
    width: 100%;
    color: white;
    word-wrap: break-word; }
    #graph-filters table td {
      padding: 4px; }
  #graph-filters .comparisonTable tr:nth-child(1) {
    font-weight: bold;
    border-bottom: thin solid #95a5a6; }
  #graph-filters .comparisonTable tr:nth-child(2n+1) {
    background: #0A5175; }
  #graph-filters .comparisonTable tr:nth-child(2n) {
    background: #00416A; }
  #graph-filters .comparisonTable td {
    text-align: center;
    text-transform: capitalize; }
    #graph-filters .comparisonTable td:nth-child(1) {
      text-align: left;
      font-weight: bold;
      color: white;
      width: 40%; }
    #graph-filters .comparisonTable td:nth-child(2n) {
      border-left: thin solid #95a5a6;
      border-right: thin solid #95a5a6; }
  #graph-filters label {
    font-size: 16px; }

#map-mask {
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 401; }

#map-popup {
  color: dimgray;
  text-align: center;
  position: absolute;
  left: 22%;
  right: 22%;
  top: 35%;
  background-color: #f7f7f7;
  z-index: 402; }

.unit-label {
  font-weight: normal;
  color: black; }

#map-filters input[type=number] {
  width: 75px; }

/*# sourceMappingURL=microclimate.css.map */
