<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
</head>
<body>
<div class="side-menu" th:fragment="sidebar (active)">

    <!--Partial CSS-->
    <link rel="stylesheet" type="text/css" href="/sass/partial/sidebar-partial.css"/>

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="brand-wrapper">
                <!-- Hamburger -->
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Brand -->

                <div class="brand-name-wrapper">
                    <a class="navbar-brand logo" href="/">
                        <img src="/images/logo.png"/>
                    </a>
                </div>

                <!-- Search body -->



                <div id="account-container">
                    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn account-button log-in">Login</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn account-button log-out">Log
                        Out</a>
                </div>
            </div>

        </div>


        <!-- Main Menu -->
        <div class="side-menu-container">
            <ul class="nav navbar-nav">


                <!--Login and logout buttons.-->


                <!--Normal navigation buttons.-->
                <li th:classappend="${#strings.equals(active, 'home')} ? active"><a th:href="@{/}">
                    <span class="glyphicon glyphicon-home"></span> Home
                </a>
                </li>
                <li th:classappend="${#strings.equals(active, 'my dashboard')} ? active"><a
                        th:href="@{/dashboard}"><span class="glyphicon glyphicon-th-large"></span> My Dashboard</a></li>
                <li th:classappend="${#strings.equals(active, 'contact')} ? active"><a th:href="@{/contact}"><span
                        class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                <li th:classappend="${#strings.equals(active, 'about')} ? active"><a th:href="@{/about}"><span
                        class="glyphicon glyphicon-user"></span> About</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->

    </nav>
    <div class="welcome" th:if="${#authorization.expression('isAuthenticated()')}">
        <!--/*@thymesVar id="user" type="space.hideaway.model.User"*/-->
        Hello, <b><span th:text="${user.getUsername()}"></span></b> <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
    </div>
</div>
</body>
</html>