<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{sass/about.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{sass/global.css}"/>
</head>
<body>
<div class="row">
    <div th:replace="partial/sidebar-partial :: sidebar(active='about')"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">

            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a posuere turpis. Praesent non
                lectus sed lorem
                efficitur dictum. Maecenas iaculis ante cursus interdum commodo. Suspendisse id mauris ex. Cum
                sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id tristique
                nisi, nec
                elementum elit. Donec sodales faucibus malesuada. Quisque luctus enim ut velit condimentum, eget
                consequat
                nulla placerat. Sed fringilla fermentum erat, quis cursus est hendrerit nec. Pellentesque risus
                metus,
                vehicula ut dui vehicula, egestas euismod augue.
            </p>

        </div>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>