<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragmentTemplate :: header" th:remove="tag"></div>
    <link th:href="@{/sass/appLogin.css}" rel="stylesheet" type="text/css"/>
    <title>CoCoTemp App Login</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="hspace">&nbsp;</div>
        <h1>Login</h1>
    </div>
</div>
<div th:include="fragmentTemplate :: footer" th-remove="tag"></div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>