<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{sass/global.css}"/>
    <link th:href="@{sass/contact.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='contact')"></div>
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="seperator-header">
                    <h1>Contact CoCo Temp</h1>
                </div>

                <div class="contact-text">
                    <h1><b>Email to:</b></h1>
                    <p>cocotemp@nau.edu</p>

                    <h1><b>Mail to:</b></h1>
                    <p>CoCoTemp</p>
                    <p>c/o Dr. Benjamin Ruddell</p>
                    <p>Northern Arizona University</p>

                    <p>1295 S. Knoles Dr. Bldg. 90, #220</p>
                    <p>PO Box 5693</p>
                    <p>Flagstaff, AZ 86011</p>
                </div>
                <!--<div class="inner contact">-->
                <!--&lt;!&ndash; Form Area &ndash;&gt;-->
                <!--&lt;!&ndash;<div class="contact-form">-->
                <!--&lt;!&ndash; Form &ndash;&gt;-->
                <!--<form id="contact-us" method="post" action="#">-->
                <!--&lt;!&ndash; Left Inputs &ndash;&gt;-->
                <!--<div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">-->
                <!--&lt;!&ndash; Name &ndash;&gt;-->
                <!--<input type="text" name="name" id="name" required="required" class="form"-->
                <!--placeholder="Name"/>-->
                <!--&lt;!&ndash; Email &ndash;&gt;-->
                <!--<input type="email" name="mail" id="mail" required="required" class="form"-->
                <!--placeholder="Email"/>-->
                <!--&lt;!&ndash; Subject &ndash;&gt;-->
                <!--<input type="text" name="subject" id="subject" required="required" class="form"-->
                <!--placeholder="Subject"/>-->
                <!--</div>&lt;!&ndash; End Left Inputs &ndash;&gt;-->

                <!--&lt;!&ndash; Right Inputs &ndash;&gt;-->
                <!--<div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">-->
                <!--&lt;!&ndash; Message &ndash;&gt;-->
                <!--<textarea name="message" id="message" class="form textarea"-->
                <!--placeholder="Message"></textarea>-->
                <!--</div>&lt;!&ndash; End Right Inputs &ndash;&gt;-->

                <!--&lt;!&ndash; Bottom Submit &ndash;&gt;-->
                <!--<div class="relative fullwidth col-xs-12">-->
                <!--&lt;!&ndash; Send Button &ndash;&gt;-->
                <!--<button type="submit" id="submit" name="submit" class="form-btn semibold standard">-->
                <!--Send Message-->
                <!--</button>-->
                <!--</div>&lt;!&ndash; End Bottom Submit &ndash;&gt;-->
                <!--&lt;!&ndash; Clear &ndash;&gt;-->
                <!--<div class="clear"></div>-->
                <!--</form>-->

                <!--&lt;!&ndash; Your Mail Message &ndash;&gt;-->
                <!--<div class="mail-message-area">-->
                <!--&lt;!&ndash; Message &ndash;&gt;-->
                <!--<div class="alert gray-bg mail-message not-visible-message">-->
                <!--<strong>Thank You!</strong> Your email has been delivered.-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>&lt;!&ndash; End Contact Form Area &ndash;&gt;-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>