<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>My Sites</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/dashboard.css}"/>
</head>

<body>
<div class="row">

    <!--Sidebar Partial-->
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='my sites')"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">

            <div class="row">
                <div class="infocard-container">
                    <div class="col-lg-3 infocard">
                        <div class="inner primary">
                            <p class="infocard-body"><span id="site-count" class="infocard-number">0</span> sites</p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner secondary">
                            <p class="infocard-body"><span id="device-count" class="infocard-number">0</span> devices</p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner tertiary">
                            <p class="infocard-body"><span id="record-count" class="infocard-number">0</span> records</p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner quaternary">
                            <p class="infocard-body"><span id="upload-count" class="infocard-number">0</span> uploads</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="seperator-header">
                    <h1 th:inline="text" class="chart-header-text" th:text="${greeting}"></h1>
                    <a th:href="@{/settings}">Settings</a>
                </div>
            </div>

            <div class="map-container">
                <div id="map"></div>
                <div id="basemaps-wrapper" class="leaflet-bar">
                    <select name="basemaps" id="basemaps">
                        <option value="Streets">Streets</option>
                        <option value="Imagery">Satellite</option>
                    </select>
                </div>
            </div>

            <div class="row list-container">
                <div class="col-lg-6">
                    <div class="seperator-header">
                        <h1>My Sites</h1>
                    </div>
                    <ul class="list">
                        <li th:each="site : ${sites}">
                            <div class="row item">
                                <div class="col-lg-12">
                                    <a th:text="*{site.getSiteName()}" th:href="*{'/cocotemp/site/' + site.getId()}"></a>
                                    <h2 th:text="*{site.getSiteDescription()}"></h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row item">
                                <div class="col-lg-12">
                                    <span>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <a th:href="@{/settings/new}"> Create a new site</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <div class="seperator-header">
                        <h1>My Devices</h1>
                    </div>

                    <ul class="list">
                        <li th:each="device : ${devices}">
                            <div class="row item">
                                <div class="col-lg-12">
                                    <a th:text="*{device.getDeviceType()} + ':' + *{device.getManufacture_num()}"
                                       th:href="*{'/cocotemp/settings/device?deviceID=' + device.getId()}">
                                    </a>
                                    <h2 th:text="*{device.getSite() != null} ? *{device.getSite().getSiteName()} : 'None!'"></h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row item">
                                <div class="col-lg-12">
                                    <span>
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <a th:href="@{/device/new}"> Add a device</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script th:src="@{//cdn.datatables.net/plug-ins/1.10.12/api/fnSetFilteringDelay.js}"></script>
<script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
        integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
        crossorigin=""></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/spring-friendly-datatables.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
