<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>

    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/global.css}"/>
    <link rel="stylesheet" th:href="@{css/dashboard.css}"/>
</head>
<body>
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="/">
                            CoCoTemp
                        </a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search"/>
                                </div>
                                <button type="submit" class="btn btn-default "><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li class="active"><a th:href="@{/dashboard}"><span class="glyphicon glyphicon-th-large"></span> My
                        Dashboard</a>
                    </li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            <span class="glyphicon glyphicon-stats"></span> Data <span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/reports/temperature}">Temperature Reports</a></li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <li><a th:href="@{/contact}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                    <li><a th:href="@{/about}"><span class="glyphicon "></span> About</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">

            <div class="row">
                <div class="page-header">
                    <h2>Dashboard
                        <small> View and edit your data.</small>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="list-group">
                        <button type="button" class="list-group-item">Cras justo odio</button>
                        <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                        <button type="button" class="list-group-item">Morbi leo risus</button>
                        <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                        <button type="button" class="list-group-item">Vestibulum at eros</button>
                    </div>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Devices</div>


                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <h5 style="display: inline-block">Device Name <br/>
                                        <small>Last updated 4 hours ago.</small>
                                    </h5>
                                    <h3 class="pull-right">56&deg; F</h3>
                                    <span class="label label-danger">Error</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <h5 style="display: inline-block">Device Name <br/>
                                        <small>Last updated 4 hours ago.</small>
                                    </h5>
                                    <h3 class="pull-right">56&deg; F</h3>
                                    <span class="label label-danger">Error</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <h5 style="display: inline-block">Device Name <br/>
                                        <small>Last updated 4 hours ago.</small>
                                    </h5>
                                    <h3 class="pull-right">56&deg; F</h3>
                                    <span class="label label-danger">Error</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div>
                                    <h5 style="display: inline-block">Device Name <br/>
                                        <small>Last updated 4 hours ago.</small>
                                    </h5>
                                    <h3 class="pull-right">56&deg; F</h3>
                                    <span class="label label-danger">Error</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Data</h3>
                        </div>
                        <div class="panel-body">
                            <table id="temperature-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Station</th>
                                    <th>Location</th>
                                    <th>Temperature</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="d : ${data}">
                                    <td th:text="*{d.getDateTime()}"></td>
                                    <td th:text="*{d.getDevice().getDeviceName()}"></td>
                                    <td th:text="*{d.getDevice().getDeviceLatitude() + ' ' +
                                d.getDevice().getDeviceLongitude()}"></td>
                                    <td th:text="*{d.getTemperature() + '&deg; ' + temperatureUnit}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script th:src="@{/js/dashboard.js}" rel="script"></script>
</body>
</html>