<!DOCTYPE html>
<html lang="en">
<head>
    <div th:include="fragmentTemplate :: header" th:remove="tag"></div>
    <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css"/>
    <title>That's an error.</title>
</head>
<body>
<div class="container">
    <div class="divhr"></div>
    <div class="row center">
        <br/>
        <br/>
        <div class="col-md-12">
                <h2>404 Not Found</h2>
            <p>The page you requested could not be found.</p>
                    <a th:href="@{/home}" class="btn btn-primary btn-lg standard"><span
                            class="glyphicon glyphicon-home"></span>
                        Return to site</a>
                    <a th:href="@{/contact}" class="btn btn-default btn-lg standard"><span
                        class="glyphicon glyphicon-envelope"></span> Contact Us </a>
        </div>
    </div>
    <div class="divhr"></div>
</div>
<div th:include="fragmentTemplate :: footer" th-remove="tag"></div>
</body>
</html>