<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>External Resources</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div class="row">
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='external resources')"></div>


     <!--Main Content-->
    <div class="container-fluid">
        <div class="side-body">
            <div class="seperator-header">
                <h1>External Resources</h1>
            </div>

            <div class="row sub-seperator-header">
                <p>
                    PRODUCTS:
                </p>
            </div>
            <div class="external-resources-div">
                <img th:src="@{/images/iButton.png}" class="external-resources-img"  />
                <div class="external-resources-div-link">
                    <h2><a href="http://www.mouser.com/ProductDetail/Maxim-Integrated/DS1923-F5/?qs=g%252bEszo6zu8PuaBJBj4p9Qg%3d%3d%26utm_source=maxim-integrated%26utm_medium=supplier%26utm_campaign=DS1923-F5#%26utm_term=DS1923-F5#%26utm_content=Maxim Integrated" target="_blank">
                        iButton
                    </a></h2>
                    <h4>An alternative to the CoCoTemp module. Small and versatile.</h4>
                </div>
            </div>
            <hr />
            <div class="external-resources-div">
                <img th:src="@{/images/iAdapter.jpg}" class="external-resources-img"  />
                <div class="external-resources-div-link">
                    <h2><a href="http://www.mouser.com/ProductDetail/Maxim-Integrated/DS9490B/?qs=g%252bEszo6zu8Nlmay8YtOI5g%3d%3d%26utm_source=maxim-integrated%26utm_medium=supplier%26utm_campaign=DS9490B#%26utm_term=DS9490B#%26utm_content=Maxim Integrated" target="_blank">
                        iButton Adapter
                    </a></h2>
                    <h4>An adapter to connect the iButton to a computer via USB.</h4>
                </div>
            </div>

            <div class="row sub-seperator-header">
                <p>
                    ORGANIZATIONS:
                </p>
            </div>
            <div class="external-resources-div">
                <img th:src="@{/images/GLOBE.png}" class="external-resources-img"  />
                <div class="external-resources-div-link">
                    <h2><a href="https://www.globe.gov/" target="_blank">
                        GLOBE
                    </a></h2>
                    <h4>A worldwide science and education program, providing communities the opportunity to participate in data collection and research.</h4>
                </div>
            </div>
            <hr />
            <div class="external-resources-div">
                <img th:src="@{/images/CoCoRaHS.png}" class="external-resources-img"  />
                <div class="external-resources-div-link">
                    <h2><a href="https://www.cocorahs.org/" target="_blank">
                        CoCoRaHS
                    </a></h2>
                    <h4>Volunteers working together to measure precipitation across the nations.</h4>
                </div>
            </div>
            <hr />
            <div class="external-resources-div">
                <img th:src="@{/images/NOAA.png}" class="external-resources-img"  />
                <div class="external-resources-div-link">
                    <h2><a href="http://www.noaa.gov/" target="_blank">
                        NOAA
                    </a></h2>
                    <h4>Organization that focuses on the conditions of the oceans and the atmosphere.</h4>
                </div>
            </div>
            <hr />
            <div class="external-resources-div">
                <img th:src="@{/images/NAU_CSIL.png}" class="external-resources-img"  />
                <div class="external-resources-div-link">
                    <h2><a href="https://www2.nau.edu/ruddell-lab/index.php/community-collaborative-microclimate-temperature-network/" target="_blank">
                        NAU CoCo Temp Lab
                    </a></h2>
                    <h4>Our partners and sponsor in creating, researching, and developing CoCoTemp.</h4>
                </div>
            </div>
            <hr />
            <div class="external-resources-div">
                <h4><a th:href="@{/CoCoTempForm.pdf}">Click here to download a paper copy of the Globe questionnaire for field use</a></h4>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>