<!-- Script Resources -->
<script th:src="@{http://code.jquery.com/jquery-3.1.1.min.js}"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:src="@{https://unpkg.com/leaflet@1.0.1/dist/leaflet.js}"></script>
<script th:src="@{/js/modal.js}" type="text/javascript"></script>
