<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div class="row">
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='getting started')"></div>


     <!--Main Content-->
    <div class="container-fluid">
        <div class="side-body">
            <div class="seperator-header">
                <h1>Getting Started</h1>
            </div>
            <div class="row sub-seperator-header">
                <p>
                    TABLE CONTENTS
                </p>
            </div>
            <div id="row" style="padding-top: 0px; padding-left: 10px">
                <h1><b>Step 1: Create Account</b></h1>
                <hr />
                <h4> To start you will need to create an account. To do this click <a href="/cocotemp/login" target="_self">"Login"</a>.
                    From here you will click on <a href="/cocotemp/register.html" target="_self">"Create one now!"</a> in order to take you to the account creation
                    page. </h4>
                <h4> Once you have entered your email, username, and password you will need to verify your email by clicking the
                    link sent to your email. This link should bring you back to the site and log you into your account.
                </h4>
                <h4> Congratulations your account has been made and is ready for use! </h4>
                <br />
                <h1><b>Step 2: Construct iButton Sensor System</b></h1>
                <hr />
                <h4> Now that you have made your account with CoCoTemp you will need to construct your iButton sensor.</h4>
                <h4> In order to do this you will need to get an iButton, a reader, and a shield for the iButton.</h4>
                <h4> The shield is needed to protect the iButton from the weather itself. At the same time making sure that the
                    button is getting consistent are temperature by keeping it from the sun, but also giving it access to the air.</h4>
                <h4> If you are creating your own shield for your iButton make sure that it is made out of a material that is water resistant.
                    An easy shield that can be used for example is a plastic/styrofoam cup that is upside down.</h4>
                <h4> If you do not wish to create your own shield or need something more durable than a plastic cup then you
                    can contact CoCoTemp for one of our experimental flat-mailable shields.</h4>
                <h4><a href="/cocotemp/contact" target="_self">Contact</a></h4>
                <br />
                <h1><b>Step 3: Creating Sites and Adding Metadata</b></h1>
                <hr />
                <h4> In order to create and manage sites make sure that you are signed into your account. When you are ready to create a site
                    go to <a href="/cocotemp/dashboard" target="_self">"My Sites"</a>.</h4>
                <h4> Next you will want to click on <a href="/cocotemp/dashboard" target="_self">"Create a new site"</a>.</h4>
                <h4> From here you will need to give your site a name along with its location. To give its location you can do this by
                    using the clicking on the interactive map, or by using entering in the latitude, longitude, and elevation.</h4>
                <h4> The next step is to give it a quick description this way you will be able to tell which site it is in case if you have
                    many sites.</h4>
                <h4> The final section of information to be inputted is the globe site survey which asks for information
                    such as the height of the sensor, information about the location such as obstacles, and other valuable information.
                    You are not required to put all of this information in, but if you do then it can possibly help out others when
                    comparing weather data.</h4>
                <br />
                <h4> Now that you have created a site you will be able to assign devices to it. This is done by clicking
                    <a href="/cocotemp/dashboard" target="_self">"Add a device"</a>.</h4>
                <h4> This will take you to a new page where you will be able to select a site and type of device via a drop down menu. You will
                    also want to put in the manufacturer/serial number that way you can tell the devices apart.</h4>
                <h4> Note: the default device type is iButton so if you have a different type of temperature recording device make sure to change this.</h4>
                <br />
                <h4> Once you have created a site and a device you can select them from <a href="/cocotemp/dashboard" target="_self">"My Sites"</a>
                     view information about them such as the metadata and what devices are assigned to the site. When viewing a site
                    it will also display a graph of all of its current data that you have put in so far above, and to the side it will
                    display the site's location on the map. In order to delete a device all you need to do is select the device and select delete.
                    </h4>
                <br />
                <h1><b>Step 4: iButton and CoCoITemp Application Usage</b></h1>
                <hr />
                <h4> To use the iButton you will need to plug it into your computers usb port. Next start up the CoCoITemp application and log into your account.
                     Sel>ect the iButton from the selection screen. Once selected you can have your iButton start collecting data by clicking on the
                    <b>'Mission'</b> button. Next you can start a new mission by clicking on 'Start Mission' and you can stop a mission
                    by clicking on <b>'Stop Mission'</b>. On the mission page you can also click on <b>'Read Data'</b> to download the data
                    from your iButton to a local file.
                    </h4>
                <br />
                <h4> To upload data make sure that you have your iButton selected and on the selection screen there is a button that you can click on called
                    <b>'Edit Site'</b>. This allows you to assign the iButton to a site. This way when you click on the <b>'Upload'</b>
                    Button it will upload your data to the desired site. Another way to upload data to a site is to go to the
                    <a href="/cocotemp/upload" target="_self">"Upload Data"</a> page. Here you can select the file that you pulled from the iButton and the
                    specific site that you would like to upload it to. You can also add notes to your upload.
                </h4>
                <br />
                <h4> NOTE: Currently an internet connection is needed in order to use the CoCoITemp Application</h4>
                <br />
                <h1><b>Step 5: Comparing Data using NOAA Sites</b></h1>
                <hr />
                <h4> If you want to compare different sites data you will want to go to the <a href="/cocotemp/microclimate#" target="_self">"Microclimate Data"</a>
                     page. Once here you can load NOAA sites based off of custom filters using the filters tab on the right side of the screen. Once you have all
                     of the desired sites loaded you can click on them and then click on <b>'Add to Graph'</b>. If you want to remove something from the graph
                     then re-click them on the graph and click <b>'Remove from Graph'</b>. Once you select a site the data will appear on the graph below and also
                     in tables in the filter tab on the right.
                </h4>
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>