<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>CoCoTemp Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" th:href="@{sass/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{sass/index.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{sass/modal.css}"/>
    <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>-->
</head>
<body>
<div class="row">
    <div th:replace="sidebar/sidebar-partial :: sidebar (active = 'home')"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-12 searchbar-container">
                    <div class="row searchbar">
                        <!--/*@thymesVar id="searchString" type="java.lang.String"*/-->
                        <!--/*@thymesVar id="searchModel" type="space.hideaway.model.SearchModel"*/-->
                        <form id="search-form" th:action="@{/search?_basic}" th:object="${searchModel}" method="POST">
                            <div class="form-group">
                                <div class="input-group">
                                    <input name="search-query" th:field="*{searchString}" id="search-query" type="text"
                                           class="form-control"
                                           placeholder="Search for a station by name, description, or username."/>
                                    <span class="input-group-btn"><button id="submit-button" name="submit-button" class="btn btn-default" type="submit">Search</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!--<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>-->
<script th:src="@{/js/index.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>