<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<title>CoCoTemp Home</title>

<title>Title</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<link type="text/css" rel="stylesheet" th:href="@{css/global.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{css/index.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{css/modal.css}"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>

<body>
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="/">
                            CoCoTemp
                        </a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search"/>
                                </div>
                                <button type="submit" class="btn btn-default "><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li sec:authorize="isAnonymous()"><a data-toggle="modal" data-target="#login-modal"
                                                         id="login-button" type="button"><span class="glyphicon"></span>
                        Login</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><span
                            class="glyphicon"></span> Log Out</a></li>
                    <li class="active"><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a th:href="@{/dashboard}"><span class="glyphicon glyphicon-th-large"></span> My Dashboard</a>
                    </li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            <span class="glyphicon glyphicon-stats"></span> Data <span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/reports/temperature}">Temperature Reports</a></li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <li><a th:href="@{/contact}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                    <li><a th:href="@{/about}"><span class="glyphicon "></span> About</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <div id="map"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div>
                <!-- BEGIN # MODAL LOGIN -->
                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" align="center">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <h1>CoCoTemp</h1>
                            </div>
                            <!-- Begin # DIV Form -->
                            <div id="div-forms">
                                <!-- Begin # Login Form -->


                                <form id="login-form">
                                    <div class="modal-body">
                                        <div id="div-login-msg">
                                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-login-msg">Type your username and password.</span>
                                        </div>
                                        <input name="username" id="username" class="form-control" type="text"
                                               placeholder="Username"/>
                                        <input name="password" id="password" class="form-control" type="password"
                                               placeholder="Password"/>
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"/> Remember me
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Login
                                            </button>
                                        </div>
                                        <div>
                                            <button id="login_lost_btn" type="button" class="btn btn-link">Lost
                                                Password?
                                            </button>
                                            <br/>
                                            <button id="login_register_btn" type="button" class="btn btn-link">Don't
                                                have an
                                                account? <b>Register for one!</b></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End # Login Form -->

                                <!-- Begin | Lost Password Form -->
                                <form id="lost-form" style="display:none;">
                                    <div class="modal-body">
                                        <div id="div-lost-msg">
                                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                            <span id="text-lost-msg">Type your e-mail.</span>
                                        </div>
                                        <input id="lost_email" class="form-control" type="text"
                                               placeholder="E-Mail"/>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                                        </div>
                                        <div>
                                            <button id="lost_login_btn" type="button" class="btn btn-link">Log In
                                            </button>
                                            <br/>
                                            <button id="lost_register_btn" type="button" class="btn btn-link">Don't have
                                                an
                                                account?
                                                <b>Register</b></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End | Lost Password Form -->

                            </div>
                            <!-- End # DIV Form -->

                        </div>
                    </div>
                </div>
                <!-- END # MODAL LOGIN -->
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>