<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragmentTemplate :: header" th:remove="tag"></div>
    <link th:href="@{/css/manage.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/sideNav.css}" rel="stylesheet" type="text/css"/>
    <title>CoCoTemp Manage</title>
</head>
<body>
<div id="wrapper">
    <div th:include="injectTemplate :: usernavbar" th:remove="tag"></div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-lg-11">
                                <h4>Create a new device.</h4>
                            </div>
                            <div class="col-lg-1">
                                <div id="form-spinner" class="pull-right loading" style="display: none"></div>
                            </div>
                        </div>

                        <h5>Fill out the form below.</h5>
                        <form id="form">
                            <div class="form-group">
                                <label for="device-name">Device Name</label>
                                <input type="text" class="form-control" id="device-name"/>
                            </div>
                            <div class="form-group">
                                <label for="device-location">Location</label>
                                <input type="text" class="form-control" id="device-location"/>
                            </div>
                            <button id="form-submit" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>Manage Account</h1>

                    <h3>Settings</h3>

                    <div class="tabbable-panel">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_default_1" data-toggle="tab">
                                        Account Settings </a>
                                </li>
                                <li>
                                    <a href="#tab_default_2" data-toggle="tab">
                                        Device Settings </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_default_1">
                                    <p>
                                        I'm in Tab 1.
                                    </p>
                                    <p>
                                        Duis autem eum iriure dolor in hendrerit in vulputate velit esse molestie
                                        consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
                                        iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem
                                        vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                                    </p>
                                </div>
                                <div class="tab-pane" id="tab_default_2">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <a id="new-device" class="btn btn-default btn-primary pull-right"
                                                   data-toggle="modal" data-target=".bs-example-modal-lg">New
                                                    Device</a>
                                            </div>
                                        </div>
                                        <ul class="device-list">
                                            <li class="row" th:each="device : ${deviceList}">
                                                <div class="device-container">
                                                    <div class="col-lg-9">
                                                        <h3 th:text="${device.deviceName}"></h3>
                                                        <p style="margin-bottom: 0"
                                                           th:text="${'Latitude: ' +  device.deviceLatitude}"></p>
                                                        <p th:text="${'Longitude: ' +device.deviceLongitude}"></p>

                                                    </div>
                                                    <div class="col-lg-3 valign">
                                                        <button class="btn btn-primary standard">Edit</button>
                                                        <button class="btn btn-danger standard-red">Delete</button>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragmentTemplate :: footer" th-remove="tag"></div>


<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOK2s5HSFwVe9scU9tSt45gEDiIN-h8jI&amp;libraries=places"></script>
<script th:src="@{js/manage.js}"></script>
</body>
</html>