<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Site</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="images/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
          integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
          crossorigin=""/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.4.5/dist/css/query-builder.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/microclimate.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
</head>

<script th:inline="javascript">
    var tempStandard=[[${tempstandard}]]
</script>

<script th:inline="javascript">
    var NOAAToken=[[${NOAAToken}]]
</script>

<script th:inline="javascript">
    var userID=[[${userID}]]
</script>



<body>
<div class="row">

    <!--Sidebar Partial-->
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='microclimate')"></div>

    <!-- Filter sidebar -->
    <div class="side-menu-expand" id="sidemenu-popup">
        <div class="text-center glyphicon glyphicon-menu-right" id="sidemenu-popup-bar">
            <p>Filters</p>
        </div>
        <div id="filter-menu" class="filter-form-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#map-filters"><span class="glyphicon glyphicon-globe"></span></a></li>
                <li><a data-toggle="tab" href="#graph-filters"><span class="glyphicon glyphicon-stats"></span></a></li>
                <li><a data-toggle="tab" href="#help-tab" id="help-tab-link"><span class="glyphicon glyphicon-question-sign"></span></a></li>
            </ul>
            <div class="tab-content">
                <div id="map-filters" class="tab-pane fade in active">
                    <div>
                        <img th:src="@{/images/MCI.png}" id="microClimateInstructions" />
                    </div>
                    <div id="builder-basic" class="query-builder form-inline"></div>
                    <div class="btn-group">
                        <button id="btn-reset" class="btn btn-warning reset" data-target="basic">Reset</button>
                        <button id="btn-get" class="btn btn-success" data-target="basic">Get Sites</button>
                    </div>
                    <div style="padding-top: 10px;">
                        <label for="state-select" style="color: white;"> View NOAA sites by state</label>
                        <br>
                        <select id="state-select" style="width: 169px;">
                            <option value="00"></option>'+
                            <option value="01">Alabama</option>
                            <option value="02">Alaska</option>
                            <option value="04">Arizona</option>
                            <option value="05">Arkansas</option>
                            <option value="06">California</option>
                            <option value="08">Colorado</option>
                            <option value="09">Connecticut</option>
                            <option value="10">Delaware</option>
                            <option value="11">District of Columbia</option>
                            <option value="12">Florida</option>
                            <option value="13">Georgia</option>
                            <option value="15">Hawaii</option>
                            <option value="16">Idaho</option>
                            <option value="17">Illinois</option>
                            <option value="18">Indiana</option>
                            <option value="19">Iowa</option>
                            <option value="20">Kansas</option>
                            <option value="21">Kentucky</option>
                            <option value="22">Louisiana</option>
                            <option value="23">Maine</option>
                            <option value="24">Maryland</option>
                            <option value="25">Massachusetts</option>
                            <option value="26">Michigan</option>
                            <option value="27">Minnesota</option>
                            <option value="28">Mississippi</option>
                            <option value="29">Missouri</option>
                            <option value="30">Montana</option>
                            <option value="31">Nebraska</option>
                            <option value="32">Nevada</option>
                            <option value="33">New Hampshire</option>
                            <option value="34">New Jersey</option>
                            <option value="35">New Mexico</option>
                            <option value="36">New York</option>
                            <option value="37">North Carolina</option>
                            <option value="38">North Dakota</option>
                            <option value="39">Ohio</option>
                            <option value="40">Oklahoma</option>
                            <option value="41">Oregon</option>
                            <option value="42">Pennsylvania</option>
                            <option value="44">Rhode Island</option>
                            <option value="45">South Carolina</option>
                            <option value="46">South Dakota</option>
                            <option value="47">Tennessee</option>
                            <option value="48">Texas</option>
                            <option value="49">Utah</option>
                            <option value="50">Vermont</option>
                            <option value="51">Virginia</option>
                            <option value="53">Washington</option>
                            <option value="54">West Virginia</option>
                            <option value="55">Wisconsin</option>
                            <option value="56">Wyoming</option>
                        </select>
                        <br>
                        <div class="btn-group" style="padding-top: 10px;">
                            <button id="btn-NOAA-get" class="btn btn-success" data-target="basic">Get Sites</button>
                        </div>
                    </div>

                </div>
                <div id="graph-filters" class="tab-pane fade">
                    <form class="threshold-form">

                        <label>Add Comparison Line to Graph:</label> <br/>

                        <table>
                            <tr>
                                <td>Label:</td>
                                <td><input type="text" id="thresholdLabel" name="thresholdLabel" /></td>
                            </tr>
                            <tr>
                                <td>Temperature &#8451;:</td>
                                <td><input type="number" id="thresholdInput" name="thresholdInput" /></td>
                            </tr>
<!--                            <tr>-->
<!--                                <td>Line Color:</td>-->
<!--                                <td><input type="color" id="thresholdColor" name="thresholdColor" /></td>-->
<!--                            </tr>-->
                        </table>
                        <button type="button" id="addThresholdButton">Add</button>
                        <input type="text" id="thresholdTags" />
                    </form>

                    <div id="sitesOnPlot">
                        <div><b>No sites added!</b> Add a site by selecting one through the map.</div>
                    </div>
                </div>
                <div id="help-tab" class="tab-pane fade">
                    <h3>Getting Started:</h3>
                    <p>This tool can be used to compare air temperatures of different sites throughout the world.
                        Each site has some metadata associated with it describing the local environment and conditions of that site.
                        This metadata is searchable and this tool allows you to find and compare sites based on
                        associated metadata. To begin follow the steps below:
                    </p>
                    <p class="instruction-step"><span><img th:src="@{/images/icons8-filter-50.png}" class="icon"/></span>1. Add filters based on the sites and metadata you are looking for</p>
                    <p class="instruction-step"><span><img th:src="@{/images/icons8-map-marker-48.png}" class="icon"/></span>2. Click on the "Get Sites" button to add these sites to the map</p>
                    <p class="instruction-step"><span><img th:src="@{/images/icons8-combo-chart-filled-50.png}" class="icon"/></span>3. Select sites on map to view site details or add to graph and view information about site</p>
                    <a th:href="@{/images/tutorial.gif}" target="_blank">Watch quick demonstration</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-12 solid-bar">
                    <h1>Micro Climate Comparison Page</h1>
                </div>
            </div>
            
            <div class="row">
                <div id="content" class="content-expand">
                    <div class="map-container">
                        <div id="map-popup">
                            <div>
                                <h3>There are no sites added to map</h3>
                                <p>You can use the tool to the right to add sites or look at the <a href="#" id="tutorial-link">tutorial</a> to learn more</p>
                            </div>
                        </div>
                        <div id="map-mask"></div>
                        <div id="map"></div>
                        <div id="basemaps-wrapper" class="leaflet-bar">
                            <select name="basemaps" id="basemaps">
                                <option value="Streets">Streets</option>
                                <option value="Imagery">Satellite</option>
                            </select>
                        </div>
                    </div>
                    <div id ="plot-area">
                        <div id="left-div" style="float: left; width: 80px; position: absolute;">
                            <select id="temperature-select" style= "margin-top: 112px; margin-left: 14px;">
                                <option value="F">Fahrenheit</option>
                                <option value="C">Celsius</option>
                            </select>
                        </div>
                        <div id="temperature-chart" style="padding-left: 110px; width:80%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
        integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.4.5/dist/js/query-builder.standalone.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>


<!--<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/microclimate.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>