<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Site</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"/>
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.4.5/dist/css/query-builder.default.min.css" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/microclimate.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div class="row">

    <!--Sidebar Partial-->
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='my dashboard')"></div>

    <!-- Filter sidebar -->
    <div class="side-menu-flat" id="sidemenu-popup">
        <div class="text-center glyphicon glyphicon-menu-left" id="sidemenu-popup-bar">
            <p>Filters</p>
        </div>
        <div id="filter-menu" class="filter-form-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#map-filters"><span class="glyphicon glyphicon-globe"></span></a></li>
                <li><a data-toggle="tab" href="#graph-filters"><span class="glyphicon glyphicon-pencil"></span></a></li>
            </ul>
            <div class="tab-content">
                <div id="map-filters" class="tab-pane fade in active">

                    <div id="builder-basic" class="query-builder form-inline"></div>
                    <div class="btn-group">
                        <button id="btn-reset" class="btn btn-warning reset" data-target="basic">Reset</button>
                        <button id="btn-get" class="btn btn-success" data-target="basic">Get Sites</button>
                    </div>

                </div>
                <div id="graph-filters" class="tab-pane fade">
                    <form class="threshold-form">
                        <label for="thresholdInput">Comparision Line: </label>
                        <input type="number" id="thresholdInput" name="thresholdInput" />
                        <button type="button" id="addThresholdButton">Add</button>
                        <input type="text" id="thresholdTags" value="0,35,56" data-role="tagsinput" />
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-12 solid-bar">
                    <h1>Micro Climate Comparison Page</h1>
                </div>
            </div>
            
            <div class="row">
                <div id="content" class="content-flat">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="basemaps-wrapper" class="leaflet-bar">
                            <select name="basemaps" id="basemaps">
                                <option value="Streets">Streets</option>
                                <option value="Imagery">Satellite</option>
                            </select>
                        </div>
                    </div>
                    <div id="temperature-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
<script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
        integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder@2.4.5/dist/js/query-builder.standalone.min.js"></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/microclimate.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>