<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Site</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link href="//cdn.datatables.net/responsive/2.1.0/css/dataTables.responsive.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/station.css}"/>

</head>
<body>
<div class="row">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var siteID = [[${site.getId().toString()}]];
        /*]]>*/
    </script>

    <!--Sidebar Partial-->
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='my dashboard')"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="infocard-container">
                    <div class="col-lg-3 infocard">
                        <div class="inner primary">
                            <p class="infocard-body">
                                <!--/*@thymesVar id="stationStatistics" type="space.hideaway.model.site.SiteStatistics"*/-->
                                <span id="site-count" class="infocard-number" th:text="${max}">93&deg; F</span>
                                max
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner secondary">
                            <p class="infocard-body">
                                <span id="record-count" class="infocard-number" th:text="${min}">12&deg;F</span>
                                min
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner tertiary">
                            <p class="infocard-body">
                                <span id="upload-count" class="infocard-number" th:text="${avg}">80&deg;F</span>
                                avg
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner quaternary">
                            <p class="infocard-body">
                                <span id="last-update" class="infocard-number" th:text="${deviation}">12&deg; F</span>
                                standard deviation
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="temperature-chart"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 solid-bar">
                    <h1>Site Information</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 information-container">

                    <!--/*@thymesVar id="site" type="space.hideaway.model.site.Site"*/-->
                    <h1 th:text="${site.getSiteName()}"></h1>

                    <blockquote>
                        <p th:text="${site.getSiteDescription()}"></p>
                    </blockquote>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#siteMeta">View CoCoTemp Metadata</a>
                                </h4>
                            </div>
                            <div id="siteMeta" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <!--/*@thymesVar id="user" type="space.hideaway.model.User"*/-->
                                    <li class="list-group-item">Site managed by
                                        <a th:text="${user.getUsername()}"></a>
                                    </li>
                                    <li class="list-group-item" th:inline="text">Site ID:
                                        [[${site.getId().toString()}]]
                                    </li>
                                    <li class="list-group-item" th:inline="text">Location:
                                        [[${site.getSiteLatitude().toString()}]],
                                        [[${site.getSiteLongitude().toString()}]]
                                    </li>
                                    <li class="list-group-item" th:inline="text">Elevation:
                                        [[${site.getSiteElevation().toString()}]] meters
                                    </li>
                                    <li class="list-group-item" >Devices
                                        <ul th:each="device : ${site.getDeviceSet()}">
                                            <li th:inline="text">[[*{device.getType()} + ':' + *{device.getManufacture_num()}]]</li>
                                        </ul>
                                        <p th:text="${site.getDeviceSet().isEmpty()} ? '• None'"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#globeMeta">View GLOBE Metadata</a>
                                </h4>
                            </div>
                            <div id="globeMeta" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <li class="list-group-item" th:text="${site.getGlobeSet().isEmpty()} ? 'No data'">
                                    </li>
                                    <li class="list-group-item" th:each="answer : ${site.getGlobeSet()}">
                                        <p th:text="*{answer.getAnswer()}"></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 map-container">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="//code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script th:src="@{//cdn.datatables.net/plug-ins/1.10.12/api/fnSetFilteringDelay.js}"></script>
<script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script th:src="@{/js/spring-friendly-datatables.js}"></script>
<script th:src="@{/js/site.js}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>