<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard</title>

    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <link href="//cdn.datatables.net/responsive/2.1.0/css/dataTables.responsive.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/sass/global.css}"/>
    <link rel="stylesheet" th:href="@{/sass/station.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>

</head>
<body>
<div class="row">

    <!--Sidebar Partial-->
    <div th:replace="sidebar/sidebar-partial :: sidebar(active='my dashboard')"></div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="col-lg-12 solid-bar">
                    <!--/*@thymesVar id="device" type="space.hideaway.model.Device"*/-->
                    <h1 th:text="${device.getDeviceName()}">Station Name</h1>
                </div>
            </div>
            <div class="row">
                <div class="infocard-container">
                    <div class="col-lg-3 infocard">
                        <div class="inner primary">
                            <p class="infocard-body">
                                <!--/*@thymesVar id="stationStatistics" type="space.hideaway.model.StationStatistics"*/-->
                                <span id="device-count" class="infocard-number" th:text="${max}">93&deg; F</span>
                                max
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner secondary">
                            <p class="infocard-body"><span id="record-count" class="infocard-number" th:text="${min}">12&deg;
                                F</span>
                                min
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner tertiary">
                            <p class="infocard-body"><span id="upload-count" class="infocard-number" th:text="${avg}">80&deg;
                                F</span>
                                avg
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 infocard">
                        <div class="inner quaternary">
                            <p class="infocard-body"><span id="last-update" class="infocard-number"
                                                           th:text="${deviation}">12&deg; F</span>
                                standard deviation
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 chart-container">
                    <canvas id="temperature-chart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 solid-bar">
                    <h1>Device Information</h1>
                </div>
            </div>
            <div class="row device-information">
                <div class="col-lg-8 information-container">
                    <h1 class="temperature-header">63&deg; F</h1>
                    <h1 th:text="${device.getDeviceName()}">Device Name</h1>
                </div>
                <div class="col-lg-4 map-container">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="//code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script th:src="@{//cdn.datatables.net/plug-ins/1.10.12/api/fnSetFilteringDelay.js}"></script>
<script src="//cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script th:src="@{/js/spring-friendly-datatables.js}"></script>
<script th:src="@{/js/station.js}"></script>
</body>
</html>