<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=site-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="icon" type="image/png" href="/cocotemp/images/CoCoIcon.png"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="form-container">

            <div class="form-header">
                <h1>Login</h1>
            </div>

            <hr/>

            <div class="form-body">
                <form th:action="@{/login}" method="post">
                    <p th:if="${loginError}" class="error">Wrong username or password.</p>
                    <div class="form-group">
                        <label for="usernameField">Username</label>
                        <input id="usernameField" class="form-control" autocomplete="username" type="text" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="passwordField">Password</label>
                        <input id="passwordField" class="form-control" autocomplete="current-password" type="password" name="password"/>
                    </div>
                    <div class="form-group">
                        <!--th:text="#{message.resetPassword}"-->
                        <p>Forgot your password? <a th:href="@{/forgotPassword}" > Reset it here.</a></p>
                    </div>
                    <div class="form-group">
                        <p>Don't have an account? <a th:href="@{/register.html}">Create one now!</a></p>
                    </div>
                    <div class="form-group">
                        <p>Want to head back to the home page? <a th:href="@{/}">Click here!</a></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Login</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-89087341-2', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>