<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="settings-partial" th:fragment="settings-partial">

    <!--Partial CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/sass/partial/settings-partial.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>

    <div>
        <ul class="settings-list">
            <li class="settings-item">
                <div class="settings-item-inner">
                    <span><i class="fa fa-cog" aria-hidden="true"></i> <a href="/settings"> General</a></span>
                </div>
            </li>
            <li class="settings-item">
                <div class="settings-item-inner">
                    <span><i class="fa fa-address-card-o" aria-hidden="true"></i><a
                            href="/settings/profile"> Profile</a></span>
                </div>
            </li>
            <li>
                <div class="settings-seperator">
                    <h1 class="seperator-text">Devices</h1>
                </div>
            </li>
            <!--/*@thymesVar id="device" type="space.hideaway.model.Device"*/-->
            <li th:each="device : ${devices}" class="settings-item">
                <div class="settings-item-inner">
                    <span><i class="fa fa-thermometer-quarter" aria-hidden="true"></i> <a
                            th:text="*{device.getDeviceName()}" th:href="*{'/settings/' + device.getId()}"></a></span>
                </div>
            </li>
        </ul>
    </div>

</div>
</body>
</html>