$primary-color: #0C2E82
.navbar-fixed-left
  width: 140px
  position: fixed
  border-radius: 0
  height: 100%
  .navbar-nav
    > li
      float: none
      width: 139px
    > li > .dropdown-menu
      margin-top: -50px
      margin-left: 140px
  + .container
    padding-left: 160px


