<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../new-about/global-new.css">
    <link href="new-contact.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            Brand
                        </a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default "><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a th:href="@{/dashboard}"><span class="glyphicon glyphicon-th-large"></span> My Dashboard</a>
                    </li>

                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            <span class="glyphicon glyphicon-stats"></span> Data <span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/reports/temperature}">Temperature Reports</a></li>

                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="active"><a th:href="@{/contact}"><span class="glyphicon glyphicon-envelope"></span>
                        Contact</a></li>
                    <li><a th:href="@{/about}"><span class="glyphicon "></span> About</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">

            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact</h1>
                    <div class="inner contact">
                        <!-- Form Area -->
                        <div class="contact-form">
                            <!-- Form -->
                            <form id="contact-us" method="post" action="#">
                                <!-- Left Inputs -->
                                <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                                    <!-- Name -->
                                    <input type="text" name="name" id="name" required="required" class="form"
                                           placeholder="Name"/>
                                    <!-- Email -->
                                    <input type="email" name="mail" id="mail" required="required" class="form"
                                           placeholder="Email"/>
                                    <!-- Subject -->
                                    <input type="text" name="subject" id="subject" required="required" class="form"
                                           placeholder="Subject"/>
                                </div><!-- End Left Inputs -->
                                <!-- Right Inputs -->
                                <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                                    <!-- Message -->
                                    <textarea name="message" id="message" class="form textarea"
                                              placeholder="Message"></textarea>
                                </div><!-- End Right Inputs -->
                                <!-- Bottom Submit -->
                                <div class="relative fullwidth col-xs-12">
                                    <!-- Send Button -->
                                    <button type="submit" id="submit" name="submit" class="form-btn semibold standard">
                                        Send
                                        Message
                                    </button>
                                </div><!-- End Bottom Submit -->
                                <!-- Clear -->
                                <div class="clear"></div>
                            </form>

                            <!-- Your Mail Message -->
                            <div class="mail-message-area">
                                <!-- Message -->
                                <div class="alert gray-bg mail-message not-visible-message">
                                    <strong>Thank You !</strong> Your email has been delivered.
                                </div>
                            </div>

                        </div><!-- End Contact Form Area -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>